<div class="pokeballNav">
    <nav>    
        <button>POKEDÉX</button>
        <button>Registrer Raid</button>
        <button data-symbol="S">Raid liste</button>

        <button data-symbol="X"></button>
    </nav>
</div>