<div class="pokeballNav">
    <nav id="navigation">
        <div class="navGrid">
            <button class="btnAccount" data-symbol="&#xf007">Account</button>
            <button class="btnRegister" data-symbol="&#xf067">Registrer Raid</button>
            <button class="btnRaidList" data-symbol="&#xf0ca">Raid list</button>

            <button class="btnClose" data-symbol="&#xf00d" onclick="toggle('navigation')"></button>
        </div>
    </nav>
</div>