<button class="pokeballNav" onclick="toggle('navigation')"></button>
<nav id="navigation">
    <div class="navGrid">
        <button class="btnAccount" id="btnAccount"  data-symbol="&#xf007" onclick="toggle('navigation')">Account</button>
        <button class="btnRegister" id="btnRegister" data-symbol="&#xf067" onclick="toggle('navigation')">Registrer Raid</button>
        <button class="btnRaidList" id="btnRaidList" data-symbol="&#xf0ca" onclick="toggle('navigation')">Raid list</button>

        <button class="btnClose" data-symbol="&#xf00d" onclick="toggle('navigation')"></button>
    </div>
</nav>