<div class="pokeballNav">
    <nav>
        <div class="navGrid">
            <button>POKEDÉX</button>
            <button>Registrer Raid</button>
            <button data-symbol="S">Raid liste</button>

            <button data-symbol="X"></button>
        </div>
    </nav>
</div>