:root {
    --limegreen: #A6DD9C;
    --shamrock: #2DCDA9;
    --fontfamilynormal: "LatoWebLight", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

html {
    height: 100%;
    text-align: center;
    background: linear-gradient(120deg,white, var(--limegreen)) no-repeat;
    background-size: cover;

    font-family: var(--fontfamilynormal);
	font-style: normal;
	margin: 0;
	padding: 0;
}

/*===================================================
-----------------GENERAL PAGE STYLING----------------
=====================================================*/
#page {
    
}

h1 {
    font-weight: bold;
    font-size: 1.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

button{
    background: linear-gradient(90deg, var(--limegreen), var(--shamrock));
    -webkit-filter: brightness(100%);
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    border: none;
    min-width: 8em;
    border-radius: 3em;
    padding: 0.8em 1.2em;
}
button:hover{ -webkit-filter: brightness(95%);}
button:active{ -webkit-filter: brightness(80%); }

/*===================================================
-----------------------HEADER------------------------
=====================================================*/
.header {
    position: relative;
    font-size: 1.3rem;
    margin: 1rem;
    text-align: left;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3em;
    padding: 0.8em 3em;
}

.header::before{
    position: absolute;
    top: calc(50% - 0.6em);
    left: 1.2em;
    height: 1.2em;
    width: 1.2em;
    display: block;
    background-image: url('/imgs/header_icon.png');
    background-size: cover;
    content: '';
}

/*===================================================
--------------------REGISTER RAID--------------------
=====================================================*/


/*===================================================
---------------------NAVIGATION----------------------
=====================================================*/
.navigation {
    
}

.pokeballNav {
    position: fixed;
    display: block; 
    background: url("/imgs/navbar_button.png") no-repeat;
    background-size: cover;
    left: calc(50% - 2.3rem);
    bottom: 20px;
    width: 4.6rem;
    height: 4.6rem;
}

.pokeballNav > nav {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: linear-gradient(140deg,white, var(--limegreen)) no-repeat;
}

.navGrid {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 2.5rem;
    grid-template-rows: 1fr repeat(3, auto) 2.5rem;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: 
    ". .......  ."
    ". account  ."
    ". register ."
    ". raidlist ."
    ". ........ ."
    ". close    .";
}

.pokeballNav .btnAccount {grid-area: account;}
.pokeballNav .btnRegister {grid-area: register;}
.pokeballNav .btnRaidList {grid-area: raidlist;}
.pokeballNav .btnClose {grid-area: close;}

.pokeballNav button {
    background: none;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color: var(--shamrock);
    border: none;
    min-width: 9.8em;
    border-radius: 3em;
    padding: 0.2em 1em 0.2em 1em;
    margin-left: 4.4em;
    margin-block-end: 2.2em;
}
.pokeballNav button::after {
    position: absolute;
    top: calc(50% - 2.2em);
    right: 9.5em;
    height: 4.4em;
    width: 4.4em;
    display: block;
    background-image: url('/imgs/list_icon.png');
    background-size: cover;
    text-align: center;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:  attr(data-symbol);
    line-height: 4.4em;
}

.pokeballNav .btnClose {font-size: 0.8rem;margin-left: 0; margin-block-end: 3rem}
.pokeballNav .btnClose::after {
    left: calc(50% - 2.2em);
}

/*===================================================
-------------------RESPONSIVENESS--------------------
=====================================================*/
@media(min-width: 749px){
    :root{ font-size: 20px;}
}

@media(max-width: 450px){
    :root{ font-size: 12px;}
}