html, body {
    margin: 0;
    text-align: center;
}

/*===================================================
-----------------------HEADER------------------------
=====================================================*/
.header {
    display: inline-block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: orange;
    color: yellow;
    align-items: center;
}

/*===================================================
-----------------GENERAL PAGE STYLING----------------
=====================================================*/
.page {
    margin: 100px 10px;
}

/*===================================================
--------------------REGISTER RAID--------------------
=====================================================*/


/*===================================================
-----------------------FOOTER------------------------
=====================================================*/
footer {
    display: inline-block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
    color: yellow;
    align-items: center;
}


@media(min-width: 749px){
    
}