<p>Her kan man se sin profil</p><br>
{{#with account}}
    Navn: {{name}} <br>
    Alder: {{age}}<br>
    By: {{city}}<br>
    Område: {{area}}<br>
{{/with}}
<button>submit</button>
<button>ok</button>