<div class="loginWrapper">
    <div class="loginBox">
        <input type="text">
        <input type="text">
        <button>Login</button>
        <div>
            <div class="rememberMe"><input type="checkbox" name="rememberMe" id="rememberMe">Husk mig </div>
            <button class="subtle forgotpass">Glemt kodeord?</button>
        </div>
    </div>
    <div class="registerAccount">
        <p>Har du ikke en bruger ? <button class="subtle">OPRET HER</button></p>
    </div>
</div>