<div class="loginWrapper">
    <div class="loginBox">
        <h1>Log ind</h1>
        <input type="text">
        <input type="text">
        <button>Login</button>
        <div>
            <input type="checkbox" name="rememberMe" id="rememberMe"><button class="subtle">Glemt kodeord?</button>
        </div>
    </div>
    <p>Her kan man logge ind</p><br>
</div>