<div class="header">    
    {{#> header }} Something went wrong while trying to load the header {{/header}}
</div>

<div class="page">
    {{#> registerRaid }} Something went wrong while trying to load the page {{/registerRaid}}
    hej
</div>

<footer>
    {{#> footer }} Something went wrong while trying to load the footer {{/footer}}
</footer>