<div class="page" id="page">
   <!-- All page content goes here -->
</div>

<div class="navigation">
    {{#> navigation }} Something went wrong while trying to load the page navigation {{/navigation}}
</div>