<div class="header">    
    {{#> header }} Something went wrong while trying to load the header {{/header}}
</div>

<div id="page">
    {{#ifEquals page "registerRaid" }}  {{> registerRaid }} {{else}}
    {{#ifEquals page "raidList" }}      {{> raidList }}     {{else}}
    {{#ifEquals page "account" }}       {{> account }}      {{else}}
        <p>Page not found</p>
    {{/ifEquals}}{{/ifEquals}}{{/ifEquals}}
</div>

<div class="navigation">
{{#> navigation }} Something went wrong while trying to load the footer {{/navigation}}
</div>